/* Reset */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #f0ad4e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.menubalk {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menubalk a {
  text-decoration: none;
  font-weight: bold;
  color: #665824;
  padding: 8px 14px;
  border-radius: 20px;
}

.menubalk a:hover {
  background: #c0811c;
  color: white;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menubalk {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #f0ad4e;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .menubalk.show {
    display: flex;
  }
}

/* Content cards */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(101, 90, 38, 0.3);
  
  animation: fadeUp 0.6s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(101, 90, 38, 0.3);
}
/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  margin-top: 20px;
  background: #f0ad4e;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.15s ease;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgb(240, 172, 78);
}
  
input[type="submit"]:active {
  transform: translateY(0);
  box-shadow: 0 5px 15px rgba(102, 72, 31, 0.3);
}


input,
textarea {
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid #eee;
  font-size: 14px;
  transition: all 0.15s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #c49b16;
  box-shadow: 0 0 0 4px rgba(196, 155, 22, 0.15);
  transform: scale(1.02);
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}