.navbar {
  background-color: #f0ad4e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.menubalk {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menubalk a {
  text-decoration: none;
  font-weight: bold;
  color: #665824;
  padding: 8px 14px;
  border-radius: 20px;
}

.menubalk a:hover {
  background: #c0811c;
  color: white;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menubalk {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #f0ad4e;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .menubalk.show {
    display: flex;
  }
}
