body{
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}

h4{
    color: white;
}
/*----------------------------------------------------------------------------------------*/
p.BarberText{
    color: white;
    font-family: cursive;
    position: relative;
    top: -20px;
}

p.Position{
    font-weight: 600;
    color: #f0ad4e;
    display: flex;
    justify-content: center;
}

img.BarberImage{
    max-height: 200px;
    width: 120px;  
    border: 8px solid #f0ad4e;
}

h4.naam{
    position: relative;
    top: -22px;
}

/*----------------------------------------------------------------------------------------*/
div.BarberContent {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;   /* standaard, maar expliciet is goed */
    gap: 20px;
}

div.BarberContent2 {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row-reverse;   /* standaard, maar expliciet is goed */
    gap: 20px;
}

div.BarberOneImage,
div.BarberTwoImage,
div.BarberThreeImage,
div.BarberFourImage,
div.BarberFiveImage,
div.BarberSixImage {
    width: 150px;
    flex-shrink: 0; /* afbeelding krimpt niet */
}

div.BarberOneText,
div.BarberTwoText,
div.BarberThreeText,
div.BarberFourText,
div.BarberFiveText,
div.BarberSixText {
    flex: 1;
}

img.BarberImage {
    max-width: 100%;
    height: auto;
    border: 8px solid #f0ad4e;
}

@media (max-width: 768px) {
    div.BarberContent,
    div.BarberContent2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/*----------------------------------------------------------------------------------------*/
.navbar {
  background-color: #f0ad4e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.menubalk {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menubalk a {
  text-decoration: none;
  font-weight: bold;
  color: #665824;
  padding: 8px 14px;
  border-radius: 20px;
}

.menubalk a:hover {
  background: #c0811c;
  color: white;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menubalk {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #f0ad4e;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .menubalk.show {
    display: flex;
  }
}